@import url('https://fonts.googleapis.com/css2? family= Work+Sans:wght@400;500 & family= Zilla+Slab:wght@400;500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    transition: .4s;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 20px; 
}

a:hover{
    color: #3a3838;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    font-family: 'Roboto', sem serifa; 
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

.nav-home {
color:  #196966;
}

.nav-bar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

.navbar-inner{
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-inner img{
   width: 170px;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.container{
    display: flex;
    flex-direction: column;
}

.container h4{
    color: #45B3AF;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
}

.container ul{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-container h5{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.livraria{
    display: flex;
}

.livraria p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.livraria a{
    padding: 8px;
    background-color: #196966;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px;
    border-color: none;
    margin-bottom: 40px;
    margin-top: -7px;
}

.empresa-val{
    align-items: center;
    display: flex;
}

.empresa-val p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif
}

.empresa-val a{
    padding: 8px;
    background-color: #196966;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition:all 0.4s ease-in;
    margin-left: 20px;
   border-color: none;
}

.empresa-p{
    margin-bottom: 30px;
    font-size: 12px;
}

.editora-val{
    align-items: center;
    display: flex;
}


.editora-val p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif
}

.editora-val a{
    padding: 8px;
    background-color: #196966;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition:all 0.4s ease-in;
    margin-left: 20px;
   border-color: none;
}

.editora-p{
    font-size: 12px;

}

footer{
    background-color: #196966;
    margin-top: 90px; 
    padding: 50px;
}

.container-pai{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo img{
    width: 150px;
}



@media(max-width:900px){
    .navbar-inner ul li a{
        font-size: 18px;
    }

    .navbar-inner img{
        width: 130px;
    }
    
    .container h4{
        color: #45B3AF;
        font-size: 18px;
    }

    .service-container h5{
        font-size: 16px;
    }

    .livraria p{
        font-size: 15px;
    }

    .livraria a{
        margin-left: 10px;
    }

    .empresa-val p{
        font-size: 15px;
    }

    .empresa-val a{
        margin-left: 10px;
    }

    .empresa-p{
        margin-top: 3px;
        font-size: 12px;
    }

    .editora-val p{
        font-size: 15px;
    }

    .editora-val a{
        margin-left: 10px;
    }
    
}
@media(max-width:768px){
    
    .livraria p{
        font-size: 14px;
    }

    .livraria a{
        margin-left: 5px;
    }

    .empresa-val p{
        font-size: 14px;
    }

    .empresa-val a{
        margin-left: 4px;
    }

    .empresa-p{
        margin-top: 3px;
        font-size: 12px;
    }

    .editora-val p{
        font-size: 15px;
    }

    .editora-val a{
        margin-left: 10px;
    }

}


@media (max-width:576px) {
    .navbar-inner ul li a{
      font-size: 12px;
    }

    .navbar-inner img{
        width: 100px;
    }

    .livraria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .livraria p{
        margin-left: 5px;
        font-size: 13px;
        font-weight: 200;
        font-family: 'Work Sans', sans-serif;
        margin-left: 10px;
    }

    .livraria a{
        margin-top: 20px;
        display: block;
        width: 200px;
        height: 30px;
        text-align: center;
        
    }
    
    .empresa-val{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .empresa-val p{
        font-size: 13px;
        font-weight: 200;
        font-family: 'Work Sans', sans-serif;
        margin-left: 5px;
        margin-left: 10px;
    }

    .empresa-val a{
        margin-top: 20px;
        display: block;
        width: 200px;
        height: 30px;
        text-align: center;
    }

    .editora-val{
        display: flex;
        flex-direction: column;
    }

    .empresa-p{
        margin-top: 10px;
        margin-left: 10px;
    }

    .editora-val a{
        margin-top: 20px;
        display: block;
        width: 200px;
        height: 30px;
        text-align: center;
    }

    .editora-val p{
        font-size: 13px;
        font-weight: 200;
        font-family: 'Work Sans', sans-serif;
        margin-left: 5px;
        margin-left: 10px;
    }

    .editora-p{
        margin-top: 10px;
        margin-left: 8px;
    }

    .logo img{
        width: 100px;
    }

    .container-pai p{
        font-size: 15px;
    }
}   


@media(max-width:450px){

    .checkbtn {
        display: block;
    }

   .navbar-inner ul {
        position: fixed;
        width: 400px;
        box-shadow: 0 0 5px grey;
        max-width: 70%;
        height: 100%;
        background-color: #98cfc3;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 45;
        max-height: 100%;
        flex-direction: column;       
    }

    nav ul li {
        display: block;
        line-height: 30px;
        padding: 12px 0;
        cursor: pointer;
        opacity: 1;
    }

    .navbar-inner ul li a{
        font-size: 16px;
    }
  
    .navbar-inner img{
        width: 100px;
    }

    .logo img{
        width: 80px;
    }

    .container-pai p{
        font-size: 10px;
    }
}    